*.o
cscope*
GPATH
GRTAGS
GTAGS
tags
compile_commands.json
build.sh
CsdbBuild.sh
config.log
config.status

GNUmakefile
contrib/spi/autoinc.so
contrib/spi/refint.so
doc/man1/
doc/man7/
src/Makefile.global
src/Makefile.port
src/backend/access/common/objfiles.txt
src/backend/access/gin/objfiles.txt
src/backend/access/gist/objfiles.txt
src/backend/access/hash/objfiles.txt
src/backend/access/heap/objfiles.txt
src/backend/access/index/objfiles.txt
src/backend/access/nbtree/objfiles.txt
src/backend/access/objfiles.txt
src/backend/access/transam/objfiles.txt
src/backend/bootstrap/objfiles.txt
src/backend/catalog/objfiles.txt
src/backend/catalog/postgres.bki
src/backend/catalog/postgres.description
src/backend/catalog/postgres.shdescription
src/backend/commands/objfiles.txt
src/backend/executor/objfiles.txt
src/backend/foreign/objfiles.txt
src/backend/lib/objfiles.txt
src/backend/libpq/objfiles.txt
src/backend/main/objfiles.txt
src/backend/nodes/objfiles.txt
src/backend/optimizer/geqo/objfiles.txt
src/backend/optimizer/objfiles.txt
src/backend/optimizer/path/objfiles.txt
src/backend/optimizer/plan/objfiles.txt
src/backend/optimizer/prep/objfiles.txt
src/backend/optimizer/util/objfiles.txt
src/backend/parser/objfiles.txt
src/backend/port/dynloader.c
src/backend/port/objfiles.txt
src/backend/port/pg_sema.c
src/backend/port/pg_shmem.c
src/backend/port/tas.s
src/backend/postgres
src/backend/postmaster/objfiles.txt
src/backend/regex/objfiles.txt
src/backend/rewrite/objfiles.txt
src/backend/snowball/snowball_create.sql
src/backend/storage/buffer/objfiles.txt
src/backend/storage/file/objfiles.txt
src/backend/storage/freespace/objfiles.txt
src/backend/storage/ipc/objfiles.txt
src/backend/storage/large_object/objfiles.txt
src/backend/storage/lmgr/objfiles.txt
src/backend/storage/objfiles.txt
src/backend/storage/page/objfiles.txt
src/backend/storage/smgr/objfiles.txt
src/backend/tcop/objfiles.txt
src/backend/tsearch/objfiles.txt
src/backend/utils/adt/objfiles.txt
src/backend/utils/cache/objfiles.txt
src/backend/utils/error/objfiles.txt
src/backend/utils/fmgr/objfiles.txt
src/backend/utils/fmgroids.h
src/backend/utils/fmgrtab.c
src/backend/utils/hash/objfiles.txt
src/backend/utils/init/objfiles.txt
src/backend/utils/mb/conversion_procs/conversion_create.sql
src/backend/utils/mb/objfiles.txt
src/backend/utils/misc/objfiles.txt
src/backend/utils/mmgr/objfiles.txt
src/backend/utils/objfiles.txt
src/backend/utils/probes.h
src/backend/utils/resowner/objfiles.txt
src/backend/utils/sort/objfiles.txt
src/backend/utils/time/objfiles.txt
src/bin/initdb/encnames.c
src/bin/initdb/initdb
src/bin/initdb/pqsignal.c
src/bin/pg_config/pg_config
src/bin/pg_controldata/pg_controldata
src/bin/pg_controldata/pg_crc.c
src/bin/pg_ctl/pg_ctl
src/bin/pg_dump/kwlookup.c
src/bin/pg_dump/pg_dump
src/bin/pg_dump/pg_dumpall
src/bin/pg_dump/pg_restore
src/bin/pg_resetxlog/pg_crc.c
src/bin/pg_resetxlog/pg_resetxlog
src/bin/psql/dumputils.c
src/bin/psql/keywords.c
src/bin/psql/kwlookup.c
src/bin/psql/psql
src/bin/scripts/clusterdb
src/bin/scripts/createdb
src/bin/scripts/createlang
src/bin/scripts/createuser
src/bin/scripts/dropdb
src/bin/scripts/droplang
src/bin/scripts/dropuser
src/bin/scripts/dumputils.c
src/bin/scripts/keywords.c
src/bin/scripts/kwlookup.c
src/bin/scripts/mbprint.c
src/bin/scripts/print.c
src/bin/scripts/reindexdb
src/bin/scripts/vacuumdb
src/include/dynloader.h
src/include/parser/gram.h
src/include/pg_config.h
src/include/pg_config_os.h
src/include/stamp-h
src/include/utils/fmgroids.h
src/include/utils/probes.h
src/interfaces/ecpg/compatlib/libecpg_compat.a
src/interfaces/ecpg/ecpglib/libecpg.a
src/interfaces/ecpg/ecpglib/path.c
src/interfaces/ecpg/ecpglib/pgstrcasecmp.c
src/interfaces/ecpg/ecpglib/strlcpy.c
src/interfaces/ecpg/ecpglib/thread.c
src/interfaces/ecpg/include/ecpg_config.h
src/interfaces/ecpg/include/stamp-h
src/interfaces/ecpg/pgtypeslib/libpgtypes.a
src/interfaces/ecpg/pgtypeslib/pgstrcasecmp.c
src/interfaces/ecpg/preproc/ecpg
src/interfaces/ecpg/preproc/kwlookup.c
src/interfaces/libpq/encnames.c
src/interfaces/libpq/ip.c
src/interfaces/libpq/libpq.a
src/interfaces/libpq/md5.c
src/interfaces/libpq/noblock.c
src/interfaces/libpq/pgstrcasecmp.c
src/interfaces/libpq/strlcpy.c
src/interfaces/libpq/thread.c
src/interfaces/libpq/wchar.c
src/port/libpgport.a
src/port/libpgport_srv.a
src/port/pg_config_paths.h
src/test/regress/autoinc.so
src/test/regress/pg_regress
src/test/regress/refint.so
src/timezone/objfiles.txt
src/timezone/zic


